@use '../../style/colors' as *;

.containerGeneral {

    display: grid;
    grid-template-columns: repeat(2, 50%);

    & .description__container {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100vh;
        width: 100%;


        & .description__title {
            font-family: 'Nunito Sans', sans-serif;
            position: relative;
            right: 100px;
            bottom: 30px;
        }

        & .description__paragraph1 {
            text-align: right;
            padding: 10px;
            width: 400PX;
            position: relative;
            bottom: 60px;
            left: 50px;
            border-right: 2px solid black;
        }

        & .description__paragraph2 {
            text-align: center;
            width: 450px;
            position: relative;
            bottom: 70px;

        }

        & .description__paragraph3 {
            text-align: left;
            width: 550px;
            position: relative;
            bottom: 80px;
            padding: 10px;
            border-left: 2px solid black;
        }

    }

    & .img__container {
        
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;


        & .img__photo {
            width: 550px;
        }

    }

}