@use '../../style/colors' as *;

.layout {

    user-select: none;
    position: relative;
    width: 100%;
    height: 100vh;

    & .layout__background {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-image: url('../../assets/img/Prueba1CambioMain.jpg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        user-select: none;
        z-index: -1000;

        // filter: grayscale(28%) sepia(21%) contrast(108%);
        // -webkit-filter: grayscale(28%) sepia(21%) contrast(108%);
        // -moz-filter: grayscale(28%) sepia(21%) contrast(108%);

        //ESTILO 1

        //         filter: brightness(79%);
        // -webkit-filter: brightness(79%);
        // -moz-filter: brightness(79%);

    }




    & .layout__content {
        text-align: center;
        position: relative;
        margin: 0 auto;
        max-width: 800px;
        top: 50%;
        transform: translate(0, -50%);


        & .layout__title {
            position: relative;
            color: $letter;
            font-size: 8rem;
            font-weight: 700;
            letter-spacing: 3px;
            z-index: 100;
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            letter-spacing: 10px;

        }

        & .circle1 {
            background-image: url('../../assets/img/Prueba1CambioMain.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: absolute;
            border-radius: 50%;
            top: -68%;
            left: 40%;
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
            width: 450px;
            height: 450px;
            float: left;


            //estilo 1

            // filter: brightness(90%);
            // -webkit-filter: brightness(90%);
            // -moz-filter: brightness(90%);


            //Estilo 2

            // filter: grayscale(28%) sepia(21%) contrast(108%);
            // -webkit-filter: grayscale(28%) sepia(21%) contrast(108%);
            // -moz-filter: grayscale(28%) sepia(21%) contrast(108%);

        }


        & .circle2 {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            border-radius: 50%;
            width: 450px;
            height: 450px;
            border: 3px solid white;



        }

        //ESTILO 1
        // & .layout__description {
        //     color: $letter;
        //     font-size: 1.5rem;
        //     font-weight: 300;
        // }
    }

    & .layout__iconDown {
        animation: arrowDown 3s infinite;
        animation-timing-function: ease;
        position: absolute;
        right: 50%;
        bottom: 10%;
        font-size: 40px;
        cursor: pointer;
        color: #ffffff;

        &:hover {
            scale: (1.1);
        }
    }

    & .layout__descriptionBorder {
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        color: white;
        letter-spacing: 10px;
        position: absolute;
        top: 55%;
        left: -16%;
        transform: rotate(270deg);
    }



}

@keyframes arrowDown {
    0% {
        bottom: 15%;
    }

    50% {
        bottom: 10%;
        scale: (1.1);
    }

    75% {
        bottom: 8%;
    }

    100% {
        bottom: 15%;
    }
}