@use '../../style/colors' as *;

.links__containers {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 30px;
    padding: 20px;
    justify-content: space-around;
    position: fixed;

    & .links__name {
        & p {
            font-weight: 600;
            user-select: none;
        }
    }

    & .links__general {
        padding: 5px;
        display: flex;
        gap: 20px;

        & a {
            text-decoration: none;
            color: $letter;

            &:hover{
                opacity: 0.50;
            }
        }
    }
}