@use '../../style/colors' as *;

.links__containers {
    display: none;
    justify-content: end;
    align-items: center;
    height: 30px;
    padding: 20px;
    justify-content: space-around;
    position: fixed;
    background-color: #e5e5e5;
    z-index: 1000;
    border-radius: 3px;
    transition: all 1s;

    & .links__name {
        & p {
            font-weight: 600;
            user-select: none;
        }
    }

    & .links__general {
        padding: 5px;
        display: flex;
        gap: 20px;

        & a {
            text-decoration: none;
            color: $letter;

            &:hover{
                opacity: 0.50;
            }
        }
    }
}