$letter: #212529;
$background-about: #000000;
$background-skills: #e3e3e3;
$background-projects: rgba(128, 128, 128, 0.117);
$background-contact: #f0f0f0;
$background-footer: #222222;
$background-icnos: #333;
$linkedin-git: #0e76a8;
$what: #25D366;
$insta: #F77737;
$rocket: rgba(255, 255, 255, 0.718);
$font-footer: rgba(255, 255, 255, 0.861);