@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Nunito:wght@200;300;400;500;600;700;800&family=Oswald:wght@200;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;

    ::-webkit-scrollbar {
        display: none;
    }
}