@use '../../style/colors' as *;

.portfolio {

    height: 100vh;

    & .portfolio__title {
        text-align: center;
        font-size: 2rem;
        font-weight: 100;
        margin-top: 100px;
    }

    & .portfolio__subtitle {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 100;
        margin-top: 10px;
    }

    & .portfolio__projects {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        justify-items: center;
        gap: 20px;
        margin: 40px 80px;
        background-color: $background-projects;
        padding: 10px 20px;
        border-radius: 10px;

        & .portfolio__container {

            &:hover .container__links{
                opacity: 1;
                transition: all 1s;
            }

            & .portfolio__nameProject {
                text-align: center;
                font-weight: 700;
                padding: 10px;
            }

            & img {
                max-width: 100%;
                display: block;
                -webkit-box-shadow: 2px 0px 14px -4px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 2px 0px 14px -4px rgba(0, 0, 0, 0.75);
                box-shadow: 2px 0px 14px -4px rgba(0, 0, 0, 0.75);
                border-radius: 5px;
                user-select: none;
                cursor: pointer;
            }

            & .TodoManagment {
                grid-column: 1;
            }

            & .E-commerce {
                grid-column: 2;

            }

            & .CreditCard {
                grid-column: 3;

            }

            & .TimeTrackerDash {
                grid-column: 1;

            }

            & .TestimonialsGrid {
                grid-column: 2;

            }

            & .AdviceAPI {
                grid-column: 3;

            }

            & .container__links {
                display: flex;
                justify-content: space-around;
                margin: 5px;
                opacity: 0;
                transition: all 1s;
                

                & .linkUrlLive {
                    text-decoration: none;
                    color: $letter;

                    &:hover{
                        color: grey;
                        text-decoration: underline;
                    }

                }

                & .linkUrlRepo {
                    text-decoration: none;
                    color: $letter;

                    &:hover{
                        color: grey;
                        text-decoration: underline;
                    }

                }

            }

        }


    }



}