@use '../../style/colors' as *;

@mixin skills($grid-column) {

    grid-column: $grid-column;
    display: grid;
    place-content: center;
    padding: 10px;
    justify-items: center;
    transition: all 1s;

    &:hover .skills__title{
        opacity: 1;
        position: relative;
        bottom: 5px;
        font-weight: 700;
        text-decoration: underline;
    }

    .skills__title {
        text-align: center;
        opacity: 0;
        transition: all 1s;
        position: relative;
        bottom: 5px;        
    }

    & img {
        width: 70px;
        transition: all 1s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.title__skills {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
    margin: 100px 0 20px;
}

.description__skills {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 60px;
}


.skills__Exp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .skills__General {
        width: 60%;
        margin: 0 auto;
        position: relative;
        left: 80px;

        & .skills__description {
            text-align: center;
            font-size: 1.1rem;
            font-weight: 700;

            text-transform: uppercase;
        }

        & .skills__container {
            padding: 10px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            & .HTML {
                @include skills(1)
            }

            & .CSS {

                @include skills(2)
            }

            & .JavaScript {

                @include skills(3)
            }

            & .SASS {

                @include skills(1)
            }

            & .Boostrap {

                @include skills(2)
            }

            & .MaterialUI {
                @include skills(3)
            }


            & .ReactJS {

                @include skills(1)
            }

            & .Redux {

                @include skills(2)
            }

            & .NodeJS {

                @include skills(3)
            }

            & .Express {

                @include skills(1)
            }

            & .MySQL {

                @include skills(2)
            }

            & .GIT {

                @include skills(3)
            }

        }
    }


}