.cv {

    background-image: url('../../assets/img/Fondo-CV.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    & .wrap {

        width: 100%;
        height: 250px;
        user-select: none;
        max-width: 100%;
        height: 250px;
        margin-top: 50px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & .cv__title {
            text-transform: uppercase;
            font-size: 1.5rem;
            color: white;
            position: relative;
            bottom: 25px;
        }


        & .cv__link {
            text-decoration: none;
            color: white;
            border: 2px solid white;
            padding: 5px;
            cursor: pointer;
            display: grid;
            place-content: center;
            width: 120px;
            transition: all 1s;

            &:hover {
                width: 150px;
                transform: scale(1.1);
                background-color: rgba(255, 255, 255, 0.492);
            }
        }
    }

}