@use '../../style/colors' as *;

.footer {
    height: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $background-footer;

    & .footer__containerIcons {
        display: flex;

        & .footer__icon {
            display: block;
            width: 50px;
            height: 50px;
            margin: 4px;
            background-color: $background-icnos;
            color: white;
            padding: 15px;
            transition: all 1s;
            border-radius: 2px;

            &:hover{
                transform: scale(1.1);
                transition: all 1s;
            }

            &.--git:hover{
                background-color: $linkedin-git;
            }

            &.--lin:hover{
                background-color: $linkedin-git;
            }

            &.--wha:hover{
                background-color: #25D366;
            }

            &.--inst:hover{
                background-color: #F77737;
            }



        }
    }




}