@use '../../style/colors' as *;

.footer{
    height: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $background-footer;

    & .footer__containerIcons{
        display: flex;
        gap: 2px;

        & .footer__icon{
            background-color: $background-icnos;
        }
    }




}